/*navigation*/
.navbar{
    margin-bottom:20px;
}
.large-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:80px;
}

.navbar ul {
    display: flex;
    align-items: center;
    width:100%;
}

.navbar ul li{
    margin-right: 20px;
    display: table-cell; 
    position: relative; 
}

.navbar ul li a{
    text-decoration: none;
    color:black;
    transition:0.3s;
    display: inline-block;
    margin-bottom:10px;
}

  .link a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: #E63946;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  .link a:hover:after { 
    width: 100%; 
    left: 0; 
  }

.large-navbar ul li a:hover{
    color:#E63946;
}

.resize-navbar ul{
    flex-direction: column;
}

.resize-navbar ul li{
    width:100vw;
    margin-left:-60px;
    text-align: center;
    padding:0.5rem;
    transition: 0.3s;
}

.resize-navbar ul li a{
    width:100vw;
}

.resize-navbar ul li:hover{
    background-color: rgb(214, 214, 214)
}

.pages{
    float:left;
}

.login {
    float:right;
    justify-content: right;
}

#logo{
    margin-left:20px;
    width:150px;
}

button{
    background-color: #E63946;
    border:none;
    padding:10px 15px 10px 15px;
    font-size:16px;
    border-radius:25px;
}

button:hover{
    background-color: #A8DADC;
    color:#1D3557;
}

#menu{
    font-size: 36px;
    color:#1D3557;
    transition: 0.3s;
    padding:10px;
}

#menu:hover{
    color:#E63946;
    cursor: pointer;
}

/* footer */
.footer{
    width:100%;
    background-color: #1D3557;
    color:white;
    padding:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-grid{
    display:grid;
    grid-template-columns: 45% 15% 20%;
    gap:5%;
    width:100%;
    margin-left:20%;
    font-weight: 100;
    margin-bottom:20px;
}

.footer-grid ul{
    list-style-type: none;
    padding-left: 0;
}

.footer-grid li{
    margin: 10px 0;
}

.footer-icon{
    font-size:50px;
}

.copy{
    width:80%;
}

/*listings*/
.listings-component a{
    text-decoration: none;
}

.small-listings{
    grid-template-columns: 1fr 1fr;
}

.listings{
    margin-top:20px;
    width:100%;
    margin:auto;
}

.listing-box{
    width:80%;
    margin:auto;
}
  
.listing-details{
    padding:1rem;
    height:150px;
}

.listing-heading{
    display:flex;
    align-items: center;
}

.listing-heading a{
    margin-left:auto;
    color:black;
    transition:0.3s;
}

.listing-heading a:hover{
    color:#e63946;
}

.listing-price{
    color:#1D3557;
    font-style: italic;
}

.single-listing{
    width:100%;
    margin:auto;
    border-radius:10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    text-align: center;
    transition: all .2s ease-in-out; 
    display: inline-block; 
    overflow: hidden;
}

.single-listing:hover .listing-name{
    cursor: pointer;
    color:#1D3557;
}

.single-listing img{
    border-radius:10px 10px 0 0;
    width:100%;
    max-height:300px;
    object-fit: cover;
    object-position:0 10%;
    aspect-ratio: 2/3;
}

.listing-name{
    font-weight: bold;
    color:#e63946;
    font-size:18px;
    transition: all .2s ease-in-out; 
}

.description{
    color:#1D3557;
}

/*media queries*/
@media screen and (max-width: 1280px) {
    .listings-component{
        grid-template-columns: 1fr 1fr 1fr !important;
    }
}

@media screen and (min-width: 768px) {
    #menu{
        display:none;
    }

    .resize-navbar{
        display:none;
    }
}

@media screen and (max-width: 900px) {
    .listings-component{
        grid-template-columns: 1fr 1fr !important;
    }
}

@media screen and (max-width: 768px) {
    

    .single-listing{
        margin-top:15px;
    }
    .large-navbar ul {
      display: none;
    }

    #menu{
        display:block;
    }

    .resize-navbar button{
        background-color: transparent;
        color:black;
        padding:0;
    }

    .resize-navbar button:hover{
        color:black;
        background-color: transparent;
    }
}

@media screen and (max-width: 480){
    .listings-component{
        display:block !important;
    }
    
}