/* footer */
.footer{
    width:100%;
    background-color: #1D3557;
    color:white;
    /* padding:1rem; */
    padding-top:50px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.up{
    position:absolute;
    top:-20px;
    background-color: #457B9D;
    border-radius: 50%;
    width:50px;
    height:50px;
}

.footer-grid{
    display:grid;
    grid-template-columns: 45% 15% 20%;
    gap:5%;
    width:100%;
    margin-left:20%;
    font-weight: 100;
    margin-bottom:50px;
}

.footer-grid ul{
    list-style-type: none;
    padding-left: 0;
}

.footer-grid li{
    margin: 10px 0;
}

.footer-icon{
    font-size:35px;
    margin-right: 10px;
}

.socials p{
    margin:15px 0;
}

.copy{
    /* width:80%; */
    width:100%;
    text-align: center;
}

/*listings*/
.listings-component a{
    text-decoration: none;
}


.listings{
    margin-top:20px;
    width:100%;
    margin:auto;
}

.listing-box{
    width:80%;
    margin:auto;
    
}
  
.listing-details{
    padding:1rem;
    height:150px;
}

.listing-heading{
    display:flex;
    align-items: center;
}

.listing-heading a{
    margin-left:auto;
    color:black;
    transition:0.3s;
}

.listing-heading a:hover{
    color:#e63946;
}

.listing-price{
    color:#1D3557;
    font-style: italic;
}

.single-listing{
    width:100%;
    margin:auto;
    border-radius:10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    text-align: center;
    transition: all .2s ease-in-out; 
    display: inline-block; 
    overflow: hidden;
    margin-bottom:20px;
}

.single-listing:hover .listing-name{
    cursor: pointer;
    color:#1D3557;
}

.single-listing:hover .listing-heading{
    background-color: rgb(181, 181, 181);
}

.single-listing img{
    border-radius:10px 10px 0 0;
    width:100%;
    max-height:300px;
    object-fit: cover;
    object-position:0 10%;
    aspect-ratio: 2/3;
}

.listing-name{
    font-weight: bold;
    color:#e63946;
    font-size:18px;
    transition: all .2s ease-in-out; 
}

.description{
    color:#1D3557;
}

.account-details .listings-component{
    grid-template-columns: 1fr 1fr !important
}

/*media queries*/
@media screen and (max-width: 1280px) {
    .home .listings-component, .search .listings-component{
        grid-template-columns: 1fr 1fr 1fr !important;
    }
}

@media screen and (min-width: 768px) {
    #menu{
        display:none;
    }

    .resize-navbar{
        display:none;
    }
}



@media screen and (max-width: 900px) {
    .home .listings-component, .search .listings-component{
        grid-template-columns: 1fr 1fr !important;
    }
}

@media screen and (max-width: 768px) {
    

    .single-listing{
        margin-top:15px;
    }
    .large-navbar ul {
      display: none;
    }

    #menu{
        display:block;
    }

    .resize-navbar button{
        background-color: transparent;
        color:black;
        padding:0;
    }

    .resize-navbar button:hover{
        color:black;
        background-color: transparent;
    }
}

@media screen and (max-width: 480){
    .home .listings-component, .search .listings-component{
        display:block !important;
    }
    
}