.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    
}

ul li{
    margin-right: 20px;
}

li a{
    text-decoration: none;
    color:black;
    transition:0.3s;
    
}

li a:hover{
    color:#E63946;
}

.login {
    float:right;
}

#logo{
    margin-left:-20px;
    width:150px;
}

button{
    background-color: #E63946;
    border:none;
    padding:10px 15px 10px 15px;
    font-size:16px;
    border-radius:25px;
}

button:hover{
    background-color: #A8DADC;
    color:#1D3557;
}