/*https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;900&display=swap');

*{
  font-family: 'Inter', sans-serif;
}

/*hide horizontal overflow when using width 100vw*/
body{
  overflow-x: hidden;
  height: 100vh;
  width:100vw;
  background-color: #edf2f4;
}

h1{
  color:#1D3557;
  font-size: 32px;
}

button{
  color:white;
  transition:0.3s;
  cursor:pointer;
}

.home-form button, .search button{
  border-radius: 0 25px 25px 0;
  border:none;
  background-color:#e63946;
}

button:hover, button[type=submit]:hover{
  background-color: #A8DADC;
  color:#1D3557;
}