/*https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557*/
/*https://coolors.co/85ffc7-297373-ff8552-e6e6e6-39393a*/


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;900&display=swap');

*{
  font-family: 'Inter', sans-serif;
}

/*hide horizontal overflow when using width 100vw*/
body{
  overflow-x: hidden;
  height: 100vh;
  width:100vw;
  background-color: #edf2f4;
}

button{
  color:white;
  transition:0.3s;
  cursor:pointer;
}

/*ignore this, I'm just storing colours here*/
.dummy{
  color:#33d6ad;
  color:#f58a07;
  color:#6b6570;
  color:#39393a;
  color:#f55607;
}

