.home{
    display:flex;
    justify-content: center;
    flex-direction: column;
    gap:80px;
}

img{
    width:55%;
    
}

form{
    display:flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
    width:80%;
    z-index:9;
}

form input[type=text]{
    padding:15px;
    border-radius: 25px 0 0 25px;
    border:none;
    width:100%;
}

form button{
    border-radius: 0 25px 25px 0;
    border:none;
    background-color:#e63946;
}

form button:hover{
    background-color: #A8DADC;
    color:#1D3557;
}

.hero{
    position:relative;
    text-align: right;
}

.searchbar{
    position:absolute;
    left:15%;
    top:25%;
    z-index:10;
}

.searchbar p{
    width:60%;
    font-weight:bold;
}

.hero-text{
    font-size:60px;
    font-weight:900;
    color:#1D3557;
}

.listings{
    text-align: center;
    width:75%;
    margin:auto;
}

.grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:60px;
    margin-bottom:50px;
}

.single-listing{
    width:100%;
    margin:auto;
    border-radius:25px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    text-align: center;
}

.single-listing img{
    border-radius:25px 25px 0 0;
    width:100%;
}

.details{
    padding:1rem;
}

.listing-name{
    font-weight: bold;
    color:#e63946;
    font-size:18px;
}

.description{
    color:#1D3557;
}