.home{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:80px;
}

.heroResize{
    position: relative;
}

.hero img{
    width:55%;
    margin-bottom:-50px;
}

.heroResize img{
    width:100%;
    display:none;
    margin-bottom:-50px;
    position: relative;
}

.home form{
    display:flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
    width:80%;
    z-index:9;
}

.home form input[type=text]{
    padding:15px;
    border-radius: 25px 0 0 25px;
    border:none;
    width:100%;
}

#categories{
    border:none;
    transition:0.3s;
    color:#1D3557;
    padding:1rem;
}

#categories:hover{
    cursor:pointer;
}

.hero{
    text-align: right;
}

.hero-text{
    font-size:60px;
    font-weight:900;
    color:#1D3557;
    margin-bottom:35px;
}

.searchbar{
    position:absolute;
    left:15%;
    top:5vw;
    z-index:10;
}

.searchbar p{
    width:60%;
    font-weight:bold;
}

.icon{
    font-size: 24px;
}

.category{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-bottom:50px;
    margin-top:-50px;
}

.category-container h2::after, .listing-heading h2::after {
    content: "";
    display: block;
    width: 32px;
    padding-top: 3px;
    border-bottom: 3px solid #E63946;
  }

.category-grid {
    display: grid;
    grid-template-columns: 1fr 1.25fr 1fr; 
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.category-grid div{
    position: relative;
    /* text-align: center; */
    color: white;
    width:100%;
    height:100%; 
    display: inline-block; 
    overflow: hidden;
    
}

.category-grid div img{
    display:block;
    width:100%;
    height:100%;
    border-radius:5px;
    transition: .3s ease-in-out;
}

.category-grid p{
    font-weight: 700;
    position: absolute;
    top:10px;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 18px;
}

.category-container{
    width:80%;
}

.category-grid img:hover{
    transform: scale(1.10);
    cursor:pointer
}
    
.category1 { grid-area: 1 / 1 / 2 / 2; }
.category2 { grid-area: 2 / 1 / 3 / 2; }
.category3 { grid-area: 1 / 2 / 3 / 3; }
.category4 { grid-area: 1 / 3 / 2 / 4; }
.category5 { grid-area: 2 / 3 / 3 / 4; }
  
.perks{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    text-align: center;
    margin-top:50px;
    width:75%;
}

.perks-icon{
    font-size: 50px;
    color:#457B9D;
}

.perks p{
    font-weight: 100;
}

.perks h4{
    font-size: 18px;
    font-weight: 400;
}

hr{
    border: 0;
  clear:both;
  display:block;
  width: 80%;               
  background-color:rgb(222, 222, 222);
  height: 1px;
}

.home .listings{
    margin-top:-50px;
}

@media only screen and (max-width: 1280px) {
    .listing-container{
        grid-template-columns: 1fr 1fr;
    }

    .hero-text{
        font-size: 48px;
    }
}

@media only screen and (max-width: 900px) {
    .hero img{
        display:none;
    }

    .heroResize img{
        display:block;
    }

    .hero-text{
        color:white;
    }
    .searchbar{
        top:15vw;
    }
}

@media only screen and (max-width: 768px) {
    .single-listing{
        margin-bottom:30px;
    }

    .hero-text{
        font-size:32px;
    }

    .heroResize{
        margin-top:-16px;
    }

    /* .category-container{
        grid-template-columns: 48.5% 48.5%;
        grid-gap:3%
    } */
}

@media only screen and (max-width: 390px) {
    .searchbar{
        width:110%;
        left:8%;
        top:5vw;
    }
    .hero-text{
        font-size:24px;
    }

    .heroResize{
        margin-bottom:-80px;
    }
}