.search{
    text-align: center;
    margin: auto;
}

.search form{
    margin: 0 auto;
    width:45%;
    display:flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
    width:80%;
    z-index:9;
}

.search form input[type=text]{
    padding:15px;
    border-radius: 25px 0 0 25px;
    border:none;
    width:100%;
}

.listings h3{
    font-weight: 400;
    text-align: left;
}



@media only screen and (max-width: 900px) {
    .search form{
        width:65%;
    }
}

@media only screen and (max-width: 390px) {
    .search form{
        width:85%;
    }
}