.search{
    text-align: center;
    margin:auto;
    position:relative;
}

.color-box{
    width:75%;
    height:150px;
    top:-45px;
    background: rgb(29,53,87);
    background: linear-gradient(90deg, rgba(29,53,87,1) 0%, rgba(69,123,157,1) 75%, rgba(93,163,207,1) 100%); 
    position:absolute;
    z-index: -1;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 10px;
}

.search form{
    margin: 0 auto;
    width:45%;
    display:flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
    margin-top:40px;
    z-index:9;
}

.search form input[type=text]{
    padding:15px;
    border-radius: 25px 0 0 25px;
    border:none;
    width:100%;
}

.search h1{
    margin-top:50px;
    margin-bottom:-10px;
    color:white;
}

.search .listings{
    width:75%;
    margin-top:20px;
}

.listings h3{
    font-weight: 400;
    text-align: left;
}

.search .listings-component{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:15px;
    margin-bottom:50px;
}

@media only screen and (max-width: 900px) {
    .search form{
        width:65%;
    }
}

@media only screen and (max-width: 390px) {
    .search form{
        width:85%;
    }
}