.search{
    text-align: center;
    margin: auto;
}

.search form{
    margin: 0 auto;
    width:45%;
}

.listings h3{
    font-weight: 400;
    text-align: left;
}



@media only screen and (max-width: 900px) {
    .search form{
        width:65%;
    }
}

@media only screen and (max-width: 390px) {
    .search form{
        width:85%;
    }
}