.account{
    width:90%;
    margin:auto;
}

.account-container{
    display:flex;
    justify-content: center;
    gap:25px;
    align-items: flex-start;
}

.account-details{
    width:75%;
}

.profile{
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width:250px;
    
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-top:30px;
    padding-bottom:50px;
    
}

.profile a{ 
    text-align: center;
    align-self: center;
    text-decoration: none;
    color:#1D3557;
    font-weight: bold;
    transition: 0.3s;
    margin-top:50px;
}

.profile a:hover, .profile button:hover{
    color:#E63946
}

.account .logout{
    display:flex;
    align-items: center;
    border-radius: 0;
}

.account-logout button{
    background-color: transparent;
    color:#1D3557;
}

.profile-header{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap:10px;
    margin:auto;
    flex-grow: 1;
}

.profile-header p{
    color:rgb(79, 79, 79);
    font-size: 14px;
    margin-bottom:-10px;
}

.profile-links{
    display:flex;
    flex-direction: column;
    margin:auto;
    /* align-items: flex-start; */
    flex-grow: 1;
    margin-top:20px;
    align-items: flex-start;
    transition: 0.3s;
}

.profile-links button:hover{
   /*  background-color: #A8DADC; */
   color:#E63946;
}

.profile-links button{
    
    flex-grow:1;
    color:black;
    background-color: white;
    border-radius: 0;
    width:100%;
    text-align: left;
    /* padding-left:40px;
    padding-right:40px; */
}

.profile img{
    width:75px;
    align-self: center;
    border-radius:50%;
}

.profile-icon{
    width:30px;
    margin-right:20px;
    
}

.account .logout{
    width:100%;
}

.account .logout button{
    background-color: transparent;
    color:#1D3557;
}

.account .logout button:hover{
    color:#E63946
}

#logout-icon{
    margin-bottom:-2px;
    margin-right:10px;
}

/* Details page */

.details, .add-listing{
    width:70%;
    margin-bottom:30px;
}

.details-container{
    text-align: center;
}

.account-form, .listing-form{
    background-color: white;
    padding:1rem;
    border-radius:15px;
    
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

label{
    margin-bottom:10px;
    font-weight: 500;
}

.inputs{
    display:flex;
    flex-direction: column;
    width:80%;
    margin-top:20px;
}

.account-form input, .listing-form input, .listing-form textarea{ 
    margin-bottom:20px;
    padding:10px;
    border:none;
    background-color:rgb(227, 227, 227)
}

.inputs button{
    margin-top:40px;
    width:150px;
    background-color: #E63946;
    color:white;
    border-radius: 0;
    margin-bottom:15px;
}

/* .small-listings{
    text-decoration: none;
} */

.view-listing{
    width:80%;
}